<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/api.js}"></script>

<!-- Bootstrap -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script async src="https://kit.fontawesome.com/329115b60c.js"
	crossorigin="anonymous"></script>

</head>
<body>
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link active"
					th:href="@{/tweet/list}">TweetList</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"
					class="nav-item"><a class="nav-link" th:href="@{/tweet/add}">Tweet</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/all}">UserList</a></li>
				<li th:if="${#authorization.expression('!isAuthenticated()')}"
					class="nav-item"><a class="nav-link" th:href="@{/user/add}">Register</a></li>
				<li th:if="${#authorization.expression('!isAuthenticated()')}"
					class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"
					class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title">List of Tweets</h5>
			<p class="card-text">
				Here you can find all the tweets we have in our database <small><i>(of
						total: <span th:text="${totalTweets}"></span> matching your query)
				</i></small>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="row mb-2 mt-0 pt-0 text-center">

			<div class="col-3 px-0 text-left">
				<form method="post" action="/tweet/list" style="display: inline">
					<input type="text" name="search" th:value="${search}"
						oninput="this.form.submit()" autofocus
						onfocus="this.setSelectionRange(-1,-1)"> <input
						type="hidden" th:value="${sort}" name="sort"> <input
						type="hidden" th:value="${size}" name="size"> <input
						type="hidden" th:value="${order}" name="order">
					<!-- <button type="submit">Search</button> -->
				</form>
			</div>

			<div class="col-6">

				<form method="post" action="/tweet/list" style="display: inline">
					<input type="hidden" th:value="${page - 1}" name="page"> <input
						type="hidden" th:value="${sort}" name="sort"> <input
						type="hidden" th:value="${size}" name="size"> <input
						type="hidden" th:value="${search}" name="search"><input
						type="hidden" th:value="${order}" name="order">
					<button><<</button>
				</form>

				<small>Page <span th:text="${page +1}"></span></small>

				<form method="post" action="/tweet/list" style="display: inline">
					<input type="hidden" th:value="${page + 1}" name="page"> <input
						type="hidden" th:value="${sort}" name="sort"> <input
						type="hidden" th:value="${size}" name="size"> <input
						type="hidden" th:value="${search}" name="search"><input
						type="hidden" th:value="${order}" name="order">
					<button>>></button>
				</form>

				<form method="post" action="/tweet/list" style="display: inline">
					<select th:object="${sort}" name="sort"
						onchange="this.form.submit()">
						<option th:text="${sort}" disabled="disabled" selected="selected"></option>
						<option th:value="likesNo" th:text="likesNo"></option>
						<option th:value="dislikesNo" th:text="dislikesNo"></option>
						<option th:value="created" th:text="created"></option>
						<option th:value="title" th:text="title"></option>
					</select> <input type="hidden" th:value="${page}" name="page"> <input
						type="hidden" th:value="${size}" name="size"> <input
						type="hidden" th:value="${search}" name="search"><input
						type="hidden" th:value="${order}" name="order">
				</form>

				<form method="post" action="/tweet/list" style="display: inline">
					<select th:object="${size}" name="size"
						onchange="this.form.submit()">
						<option th:text="${size}" disabled="disabled" selected="selected"></option>
						<option th:value="5" th:text="5"></option>
						<option th:value="10" th:text="10"></option>
						<option th:value="25" th:text="25"></option>
						<option th:value="50" th:text="50"></option>
						<option th:value="100" th:text="100"></option>
					</select> <input type="hidden" th:value="${page}" name="page"> <input
						type="hidden" th:value="${sort}" name="sort"> <input
						type="hidden" th:value="${search}" name="search"><input
						type="hidden" th:value="${order}" name="order">
				</form>
				
				<form method="post" action="/tweet/list" style="display: inline">
					<input type="hidden" th:value="${sort}" name="sort"> 
					<input type="hidden" th:value="${size}" name="size"> 
					<input type="hidden" th:value="${search}" name="search">
					
					<div style="display: inline" th:if="${order} == 1">
						<input type="hidden" th:value="${-1}" name="order">
						<button th:if="${order} == 1"><i class="fas fa-sort-amount-down"></i></button>
					</div>
					<div style="display: inline" th:if="${order} == -1">	
						<input type="hidden" th:value="${1}" name="order">					
						<button th:if="${order} == -1"><i class="fas fa-sort-amount-down-alt"></i></button>
					</div>
				</form>
				
			</div>
			<div class="col-3"></div>
		</div>
	</div>

	<div class="container">

		<div th:each="tweet : ${availableTweets}">
			<div class="row my-2 py-1 text-justify">
				<div class="card col-6 px-0">

					<div th:id="'tweetHeader'+${tweet.id}" class="card-header">
						<a th:href="@{/tweet/showTweet/{id}(id=${tweet.id})}"> <span
							th:text="${tweet.user.firstName}">First Name</span>&nbsp; <span
							th:text="${tweet.user.lastName}">Last Name</span>
						</a> <span>&nbsp;<i
							th:text="${#dates.format(tweet.created, 'dd-MMM-yyyy HH:mm')}">Date</i></span>

						<span>&nbsp; <a
							th:href="@{/user/{id}/tweets(id=${tweet.user.id})}"> <i
								th:text="${tweet.user.email}"></i>
						</a>
						</span>
					</div>

					<div class="card-body pb-0 mb-0">
						<h5 class="card-title" th:text="${tweet.title}">Special title
							treatment</h5>

					</div>

					<img class="card-img-top py-1"
						th:src="@{/tweet/getImage/{id}(id=*{tweet.id})}" alt="">

					<div class="card-body pt-0 mt-0">

						<p class="card-text" th:text="${tweet.tweetText}">With
							supporting text below as a natural lead-in to additional content.</p>
					</div>

					<div class="card-footer bg-transparent">
						<div class="row text-justify">

							<div class="card-text col-6 pl-3">

								<small class="text-muted">created <span
									th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, time=${days.convert(#dates.createNow().getTime() - tweet.created.getTime(), days)/(1000)}">
										<span th:if="${time < 60}"><span th:text="${time}"></span>
											seconds</span> <span th:if="${(time > 60)&&(time < 120)}"><span
											th:text="${time/60}"></span> minute</span> <span
										th:if="${(time > 60)&&(time < 3600)}"><span
											th:text="${time/60}"></span> minutes</span> <span
										th:if="${(time > 3600)&&(time < 7200)}"><span
											th:text="${time/3600}"></span> hour</span> <span
										th:if="${(time > 3600)&&(time < 86400)}"><span
											th:text="${time/3600}"></span> hours</span> <span
										th:if="${(time > 86400)&&(time < 172800)}"><span
											th:text="${time/86400}"></span> day</span> <span
										th:if="${(time > 172800)}"><span
											th:text="${time/86400}"></span> days</span>
								</span> ago
								</small>
							</div>

							<div class="card-text col-6 pr-3 text-right">
								<small class="text-muted"><span>Likes <span
										th:text="${tweet.likesNo}"></span></span></small>&nbsp;&nbsp; <small
									class="text-muted"><span>Dislikes <span
										th:text="${tweet.dislikesNo}"></span></span></small>&nbsp;&nbsp;

								<form th:action="@{/tweet/like}" method="POST"
									style="display: inline;">
									<input type="hidden" th:value="${tweet.id}" name="tweetId">
									<input type="hidden" th:value="${1}" name="value"> <input
										type="hidden" th:value="${page}" name="page"> <input
										type="hidden" th:value="${sort}" name="sort"> <input
										type="hidden" th:value="${size}" name="size"> <input
										type="hidden" th:value="${search}" name="search">
									<button type="submit">
										<i class="far fa-thumbs-up"></i>
									</button>
								</form>

								<form th:action="@{/tweet/like}" method="POST"
									style="display: inline;">
									<input type="hidden" th:value="${tweet.id}" name="tweetId">
									<input type="hidden" th:value="${-1}" name="value"> <input
										type="hidden" th:value="${page}" name="page"> <input
										type="hidden" th:value="${sort}" name="sort"> <input
										type="hidden" th:value="${size}" name="size"> <input
										type="hidden" th:value="${search}" name="search">
									<button type="submit">
										<i class="far fa-thumbs-down"></i>
									</button>
								</form>

								<!-- 										<span>
											<a th:href="@{/tweet/{id}/like(id=${tweet.id})}">
												<i class="far fa-thumbs-up"></i>
											</a>
										</span>&nbsp;&nbsp; 
										
										<span>
											<a th:href="@{/tweet/{id}/dislike(id=${tweet.id})}">
												<i class="far fa-thumbs-down"></i>
											</a>
										</span> -->
							</div>
						</div>
						<div class="row text-justify">
							<div class="card-text col-6 pl-3"></div>
							<div class="card-text col-6 pr-3 text-right"
								onmouseenter="getLikers(this)" onmouseleave="hideLikers(this)">
								<small th:if="${tweet.likesNo > 0}" th:id="${tweet.id}">who
									likes your tweet? </small>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>